body{
	overflow-x: hidden;
}

.top{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #000;
}

.top_inner{
	margin: 200px;
}

.mid{
	position: absolute;
	top: 100%;
	height: 100%;
	width: 100%;

	background: #fff;
	color: #000;
}

h2{
	font-family: aek;
	color: #999;
	font-size: 40px;
}

h1{
	position: relative;
	top: -50px;
	font-family: aek;
	color: #fff;
	font-size: 70px;

	background: url(https://www.apple.com/v/iphone-xr/a/images/overview/copy_texture_1_large.jpg) round;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
