body{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: Lucida;
    font-size: 20px;
}

h1,h2,h3{
    font-family: aek;
}

.item{
    float: left;
    width: 33.33%;
}

.section{
    margin-bottom: 50px;
}