/* Coolors Exported Palette - coolors.co/011638-364156-cdcdcd-dff8eb-f4d06f */

/* HSL */
$color1: hsla(217%, 96%, 11%, 1);
$color2: hsla(219%, 23%, 27%, 1);
$color3: hsla(0%, 0%, 80%, 1);
$color4: hsla(149%, 64%, 92%, 1);
$color5: hsla(44%, 86%, 70%, 1);

/* RGB */
$color1: rgba(1, 22, 56, 1);
$color2: rgba(54, 65, 86, 1);
$color3: rgba(205, 205, 205, 1);
$color4: rgba(223, 248, 235, 1);
$color5: rgba(244, 208, 111, 1);